.grid-container {
    display: grid;
    grid: auto auto / auto 300px 500px 1000px;
    grid-gap: 40px;
    background-color: #2196F3;
    padding: 20px;
  }
  
  .grid-container  div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}