
h1{
    color: white;
    background-color: black;
    text-align: center;
}

p{
    text-align: justify;
    background-color: grey;
    color: orange;
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
    font-family: "Playwrite ES Deco", cursive;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}


ul:nth-child(2){
    background-color: grey;
}

ol li{
    color: orange;
}

p span{
    color: red;
    background-color: black;
}